<form action="/" method="POST">
  <h1>Create a Team and Heroes!</h1>
  <div class="Teams">
    <h4>Team Name: <%= @team.name%></h4><br>
    <h4>Team Motto: <%= @team.motto%> </h4><br>
  </div><br>



